BasedOnStyle: LLVM
BraceWrapping:
  SplitEmptyFunction: false
  SplitEmptyRecord: false
IndentWidth: 3
ColumnLimit: 120
PointerAlignment: Left
AccessModifierOffset: -3
AlwaysBreakTemplateDeclarations: true
AlignArrayOfStructures: Left
AlignConsecutiveAssignments: Consecutive
AlignConsecutiveDeclarations: Consecutive
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortBlocksOnASingleLine: Empty
AllowShortFunctionsOnASingleLine: Inline
BinPackArguments: false
BinPackParameters: false
BreakBeforeBraces: Custom
BreakConstructorInitializers: BeforeComma
BreakInheritanceList: BeforeComma
ConstructorInitializerIndentWidth: 3
ContinuationIndentWidth: 3
MaxEmptyLinesToKeep: 3
SortIncludes:    Never
