---
BasedOnStyle: LLVM
---
Language: Cpp
AccessModifierOffset: -3
AlwaysBreakTemplateDeclarations: Yes
AlignArrayOfStructures: Left
AllowShortBlocksOnASingleLine: Empty
AllowShortFunctionsOnASingleLine: All  # LLVM default
BinPackArguments: false
BinPackParameters: false
BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass:       true
  AfterControlStatement: Never  # LLVM default
  AfterEnum:        true
  AfterFunction:    true
  AfterNamespace:   false       # LLVM default
  AfterStruct:      true
  AfterUnion:       true
  AfterExternBlock: true
  SplitEmptyFunction:  false
  SplitEmptyNamespace: false
  SplitEmptyRecord: false
BreakConstructorInitializers: AfterColon
BreakInheritanceList: AfterColon
ColumnLimit: 120
ConstructorInitializerIndentWidth: 3
ContinuationIndentWidth: 3
IndentWidth: 3
MaxEmptyLinesToKeep: 3
PointerAlignment: Left
SortIncludes:    Never
