[submodule "libraries/appbase"]
	path = libraries/appbase
	url = https://github.com/AntelopeIO/appbase
[submodule "libraries/chainbase"]
	path = libraries/chainbase
	url = https://github.com/AntelopeIO/chainbase
[submodule "libraries/eos-vm"]
	path = libraries/eos-vm
	url = https://github.com/AntelopeIO/eos-vm
[submodule "libraries/softfloat"]
	path = libraries/softfloat
	url = https://github.com/AntelopeIO/berkeley-softfloat-3
[submodule "libraries/rapidjson"]
	path = libraries/rapidjson
	url = https://github.com/Tencent/rapidjson/
[submodule "tests/abieos"]
	path = tests/abieos
	url = https://github.com/AntelopeIO/abieos
[submodule "libraries/libfc/include/fc/crypto/webauthn_json"]
	path = libraries/libfc/include/fc/crypto/webauthn_json
	url = https://github.com/Tencent/rapidjson/
[submodule "libraries/libfc/secp256k1/secp256k1"]
	path = libraries/libfc/secp256k1/secp256k1
	url = https://github.com/bitcoin-core/secp256k1
[submodule "libraries/prometheus/prometheus-cpp"]
	path = libraries/prometheus/prometheus-cpp
	url = https://github.com/jupp0r/prometheus-cpp.git
[submodule "libraries/libfc/libraries/bn256"]
	path = libraries/libfc/libraries/bn256
	url = https://github.com/AntelopeIO/bn256
[submodule "libraries/cli11/cli11"]
	path = libraries/cli11/cli11
	url = https://github.com/AntelopeIO/CLI11.git
[submodule "libraries/libfc/libraries/bls-signatures"]
        path = libraries/libfc/libraries/bls-signatures
        url = https://github.com/systemzax/bls-signatures
